body {
  background-color: #ddf3e6;
}

#editor, .markdown-wrapper {
  border: 1px solid #76aa8b;
  outline: none;
  box-shadow: 0 0 10px #9bd6b3;
  border-radius: 15px;
  padding: 20px 30px;
  height: 40em
}

.markdown-wrapper {
  overflow-y: scroll;
  content-visibility: auto;
}

.app-wrapper {
  margin-bottom: 6em;
  padding: 25px 10px;
  box-shadow: 0 0 10px #ccc;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  border-radius: 5px 10px;
}

img {
  max-width: 100%;
  height: auto;
}